<div class="overflow-y-auto text-black h-full p-4 scrollbar-thin scrollbar-thumb-[#594ED1] scrollbar-track-gray-200">
  @for (group of menu; track group; let i = $index) {
    @if (group.items.length < 2) { 
      <div class="my-2">
        <div class="flex items-center gap-4 p-1 rounded cursor-pointer duration-150 ease-in-out transition-all hover:bg-[#E7EAEF]  hover:border-l-8 hover:border-l-[#594ED1] tracking-wide font-medium"
          [routerLink]="group.items[0].route"
          [ngClass]="{ 'border-l-8 border-l-[#594ED1] bg-[#E7EAEF]': isActive(group.items[0].route) }">
            @if (group.items[0].icon) {
              <svg-icon [src]="group.items[0].icon" class="transition-transform duration-150 ease-in-out"></svg-icon>
            }
            <span class="text-balance text-base text-[#1C1C1D] transition-colors duration-150 ease-in-out">
              {{ group.items[0].label | smartTranslate }}
            </span>
        </div>
      </div>
  }
  @else {
    <div class="my-2">
      <div  class="flex items-center gap-4 p-1 rounded cursor-pointer duration-150 ease-in-out transition-all hover:bg-[#E7EAEF] hover:border-l-8 hover:border-l-[#594ED1] tracking-wide font-medium" (click)="toggleGroup(i)" [ngClass]="{' bg-[#E7EAEF]': isGroupActive(group)}">
        @if (group.icon) {
          <svg-icon [src]="group.icon" class="transition-transform duration-150 ease-in-out"></svg-icon>
        }
        <div class="flex-1 w-full flex items-center text-balance text-base text-[#1C1C1D] transition-colors duration-150 ease-in-out">
          <span>{{ group.group | smartTranslate }}</span>
          <svg-icon [src]="'/assets/icons/down.svg'" class="ml-auto transition-transform duration-150 ease-in-out w-4 h-4"
            [class.rotate-180]="openGroups.has(i)">
          </svg-icon>
        </div>
      </div>
      <div *ngIf="openGroups.has(i)" class="pl-2 mt-2 border-l border-dashed border-[#594ED1]">
        @for (item of group.items; track item) {
          <div class="my-2">
            <div class="flex items-center gap-4 p-1 rounded cursor-pointer duration-150 ease-in-out transition-all hover:bg-[#E7EAEF] hover:border-l-8 hover:border-l-[#594ED1] tracking-wide font-medium" [routerLink]="item.route" [ngClass]="{ 'border-l-8 border-l-[#594ED1] bg-[#E7EAEF]': isActive(item.route) }" style="padding-left: 1rem;">
              @if (item.icon) {
                <svg-icon [src]="item.icon" class="transition-transform duration-150 ease-in-out"></svg-icon>
              }
              <span class="text-balance text-base text-[#1C1C1D] transition-colors duration-150 ease-in-out">
                {{ item.label | smartTranslate }}
              </span>
            </div>
          </div>
        }
      </div>
    </div>
  }
}
</div>