<nz-card nzTitle="Change Password">
      <app-loader *ngIf="loading" [isVisible]="loading"></app-loader>
      <nz-steps *ngIf="!loading" [nzCurrent]="currentStep">
            <nz-step nzTitle="Change Password" nzIcon="user"></nz-step>
            <nz-step nzTitle="Verify OTP" nzIcon="solution"></nz-step>
            <nz-step nzTitle="Completed" [nzIcon]="iconTemplate"></nz-step>
            <ng-template #iconTemplate><span nz-icon nzType="smile"></span></ng-template>
      </nz-steps>
      <div class="mt-4" *ngIf="!loading">
            <ng-container [ngSwitch]="currentStep">
                  <div *ngSwitchCase="0" class="w-1/2" nzIcon="user">
                        <password-change-form (actionEmitter)="handlePasswordSubmit($event)"></password-change-form>
                  </div>
                  <otp-verification *ngSwitchCase="1" [otpOid]="otpOid" [newPassword]="updatedPassword"
                        (actionEmitter)="handleOtpVerified($event)"></otp-verification>
                  <div *ngSwitchCase="2" class="text-center p-4">
                        <nz-result nzStatus="success" nzTitle="Password Changed Successfully!">
                              <div nz-result-subtitle>
                                    For security reasons, please logout and login again.
                              </div>
                              <div nz-result-extra>
                                    <button nz-button nzType="primary" (click)="logout()">
                                          Logout
                                    </button>
                              </div>
                        </nz-result>

                  </div>
            </ng-container>
      </div>
</nz-card>