<div class="p-4">
      <app-loader [isVisible]="loading"></app-loader>
      <div *ngIf="!loading" class="grid lg:grid-cols-2 gap-4 lg:gap-0 lg:gap-x-4">
            <div class="grid md:grid-cols-2 gap-4">
                  <div
                        class="group overflow-hidden rounded-md bg-gradient-to-tr from-[#594ED1] via-[#8781e4] to-[#b2acef] text-gray-50 shadow-lg transition-all duration-300 ease-in-out cursor-pointer">
                        <div
                              class="before:duration-700 before:absolute before:w-32 before:h-32 before:bg-transparent before:blur-none before:border-[12px] before:opacity-50 before:rounded-full before:-left-6 before:-top-16 w-full h-full flex flex-col justify-between relative z-10 group-hover:before:top-32 group-hover:before:left-44 group-hover:before:scale-125 group-hover:before:blur">
                              <div class="text p-4 flex flex-col justify-evenly h-full">
                                    <svg-icon src="assets/icons/dashboard/money.svg"></svg-icon>
                                    <div>
                                          <span class="text-xl">Total Sell <span class="text-xs">(this
                                                      month)</span></span>
                                          <p class="font-bold text-4xl">{{ data?.total_sale_this_month | safeText}}</p>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div
                        class="group overflow-hidden rounded-md bg-gradient-to-tr from-[#8949c8] via-[#8344c2] to-[#9470b7] text-gray-50 shadow-lg transition-all duration-300 ease-in-out cursor-pointer">
                        <div
                              class="before:duration-700 before:absolute before:w-32 before:h-32 before:bg-transparent before:blur-none before:border-[12px] before:border-[#D7D7D7] before:opacity-50 before:rounded-full before:-left-6 before:-top-16 w-full h-full flex flex-col justify-between relative z-10 group-hover:before:top-32 group-hover:before:left-44 group-hover:before:scale-125 group-hover:before:blur">
                              <div class="text p-4 flex flex-col justify-evenly h-full">
                                    <svg-icon src="assets/icons/dashboard/purchase.svg"></svg-icon>
                                    <div>
                                          <span class="text-xl">Current Stock Value</span>
                                          <p class="font-bold text-4xl">{{ data?.total_stock_value | safeText }}</p>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="grid md:grid-cols-2 gap-4">
                  <div
                        class="p-6 bg-[#F9F9F9] border rounded-md flex items-center gap-6 shadow-sm hover:scale-95 transition-all duration-300 ease-in-out cursor-pointer">
                        <svg-icon src="assets/icons/dashboard/category.svg"></svg-icon>
                        <span>
                              <h3 class="text-2xl font-semibold ">{{ data?.total_categories | safeText }}</h3>
                              <p>Categories</p>
                        </span>
                  </div>
                  <div
                        class="p-6 bg-[#F9F9F9] border rounded-md flex items-center gap-6 shadow-sm hover:scale-95 transition-all duration-300 ease-in-out cursor-pointer">
                        <svg-icon src="assets/icons/dashboard/source.svg"></svg-icon>
                        <span>
                              <h3 class="text-2xl font-semibold ">{{ data?.total_suppliers | safeText }}</h3>
                              <p>Supplier</p>
                        </span>
                  </div>
                  <div
                        class="p-6 bg-[#F9F9F9] border rounded-md flex items-center gap-6 shadow-sm hover:scale-95 transition-all duration-300 ease-in-out cursor-pointer">
                        <svg-icon src="assets/icons/dashboard/warehouse.svg"></svg-icon>
                        <span>
                              <h3 class="text-2xl font-semibold ">{{ data?.total_warehouses | safeText }}</h3>
                              <p>Warehouse</p>
                        </span>
                  </div>
                  <div
                        class="p-6 bg-[#F9F9F9] border rounded-md flex items-center gap-6 shadow-sm hover:scale-95 transition-all duration-300 ease-in-out cursor-pointer">
                        <svg-icon src="assets/icons/dashboard/product.svg"></svg-icon>
                        <span>
                              <h3 class="text-2xl font-semibold ">{{ data?.total_products | safeText }}</h3>
                              <p>Product</p>
                        </span>
                  </div>
            </div>
            <nz-card [nzTitle]="salesTitle" nzBordered="true" style="margin-top: 16px;">
                  <nz-list [nzDataSource]="recent_sales" [nzRenderItem]="item" nzBordered="false" nzSize="small">
                        <ng-template #item let-sale>
                              <nz-list-item>
                                    <p>Invoice No: <span class="font-semibold">{{ sale.invoice_no }}</span></p>
                                    <p>{{ sale.created_by | safeText }}</p>
                                    <p>{{ sale.created_on | date:'short' }}</p>
                                    <p class="font-bold">{{ sale.total_amount | currency:'৳':'symbol':'1.0-0' }}</p>
                              </nz-list-item>
                        </ng-template>
                  </nz-list>
                  <ng-template #salesTitle>
                        <h2 class="font-bold">Recent Sales</h2>
                  </ng-template>
            </nz-card>
            <nz-card [nzTitle]="trendingTitle" nzBordered="true" style="margin-top: 16px;">
                  <nz-list [nzDataSource]="trending_products" [nzRenderItem]="trendingItem" nzBordered="false" nzSize="small">
                        <ng-template #trendingItem let-product>
                              <nz-list-item>
                                    <p>Product Name: <span class="font-semibold">{{ product.product_name }}</span></p>
                                    <p>Total Sold: <span>{{ product.total_sold | safeText }}</span></p>
                              </nz-list-item>
                        </ng-template>
                  </nz-list>
                  <ng-template #trendingTitle>
                        <h2 class="font-bold">Trending Products <span class="text-xs font-normal">(This Month)</span></h2>
                  </ng-template>
            </nz-card>
      </div>
</div>