<div class="rounded-md bg-white">
      <!-- Form -->
      <form nz-form [formGroup]="form" [nzLayout]="'vertical'" (ngSubmit)="handleForm()">
            <div class="grid grid-cols-1 md:gap-x-6 md:grid-cols-2 lg:grid-cols-4 border-[0.5px] p-4 rounded-md">
                  <!-- sign_in_time -->
                  <nz-form-item>
                        <nz-form-label [nzRequired]="hasRequiredValidator('sign_in_time')">Sign In Time</nz-form-label>
                        <nz-form-control nzErrorTip="Sign In Time is Required.">
                              <nz-time-picker class="w-full" formControlName="sign_in_time" nzFormat="HH:mm"
                                    nzPlaceHolder="Select Sign In Time" nzInputReadOnly></nz-time-picker>
                        </nz-form-control>
                  </nz-form-item>
                  <!-- sign_in_location -->
                  <nz-form-item>
                        <nz-form-label [nzRequired]="hasRequiredValidator('sign_in_location')">Sign In
                              Location</nz-form-label>
                        <nz-form-control nzErrorTip="Sign In Location is Required.">
                              <textarea rows="2" formControlName="sign_in_location" nz-input
                                    placeholder="Enter Sign In Location" nzAutosize></textarea>
                        </nz-form-control>
                  </nz-form-item>
                  <!-- sign_out_time -->
                  <nz-form-item>
                        <nz-form-label [nzRequired]="hasRequiredValidator('sign_out_time')">Sign Out
                              Time</nz-form-label>
                        <nz-form-control nzErrorTip="Sign Out Time is Required.">
                              <nz-time-picker class="w-full" formControlName="sign_out_time" nzFormat="HH:mm"
                                    nzPlaceHolder="Select Sign Out Time" nzInputReadOnly></nz-time-picker>
                        </nz-form-control>
                  </nz-form-item>
                  <!-- sign_out_location -->
                  <nz-form-item>
                        <nz-form-label [nzRequired]="hasRequiredValidator('sign_out_location')">Sign Out
                              Location</nz-form-label>
                        <nz-form-control nzErrorTip="Sign Out Location is Required.">
                              <textarea rows="2" formControlName="sign_out_location" nz-input
                                    placeholder="Enter Sign Out Location" nzAutosize></textarea>
                        </nz-form-control>
                  </nz-form-item>
            </div>
            <!-- Actions -->
            <div class="flex justify-end mt-4">
                  <div class="flex items-center gap-4">
                        <secondary-button (click)="goBack()" [label]="'Cancel'"></secondary-button>
                        <primary-button [label]="'Submit'" [loading]="loading" [type]="'submit'"></primary-button>
                  </div>
            </div>
      </form>
</div>