<app-loader *ngIf="loading" [isVisible]="loading"></app-loader>
<div *ngIf="!loading" class="p-4 border rounded-md">
      <ul *ngIf="data.length" class="divide-y divide-gray-100">
            <ng-container *ngFor="let item of data">
                  <li class="grid md:grid-cols-4 gap-x-6 py-5">
                        <p class="text-sm/6 text-[#180B26] font-semibold">Date: <span class="font-normal">{{
                                    item?.parsed_attendance_date }}</span></p>
                        <p class="mt-1 text-xs/5 text-gray-500 font-semibold">Sign In: <span class="font-normal">{{
                                    convertToBangladeshTime(item?.sign_in_time_bd) }}</span></p>
                        <p class="mt-1 text-xs/5 text-gray-500 font-semibold">Sign Out: <span class="font-normal">{{
                                    convertToBangladeshTime(item?.sign_out_time_bd) }}</span></p>
                        <p class="mt-1 text-xs/5 font-semibold" [ngClass]="getTotalTimeClass(item)">
                              <span class="font-normal">{{ getTotalTime(item) }}</span>
                        </p>
                  </li>
            </ng-container>
      </ul>
      <div *ngIf="!data.length"
            class="flex flex-col items-center justify-center h-full text-center bg-gray-50 p-8 rounded-md space-y-4">
            <img src="assets/icons/no_data.svg" alt="No Data Found">
            <h2 class="text-lg font-semibold text-black">No Data Found</h2>
            <p class="text-black">Try refining your search or adding new data.</p>
      </div>
      <div class="bg-white grid grid-cols-1 h-16">
            <div class="flex items-center justify-end mr-6">
                  <nz-pagination [(nzPageIndex)]="currentIndex" [(nzPageSize)]="pageSize" [nzShowSizeChanger]="true"
                        [nzShowTotal]="rangeTemplate" [nzTotal]="totalCount"
                        (nzPageIndexChange)="onPageIndexChange($event)" (nzPageSizeChange)="onPageSizeChange($event)">
                  </nz-pagination>
                  <ng-template #rangeTemplate let-range="range" let-total>
                        {{ range[0] }} - {{ range[1] }} of {{ total }} items
                  </ng-template>
            </div>
      </div>
</div>