<div class="p-4 space-y-4" [formGroup]="form">
      <div class="flex justify-between items-center">
            <div class="flex items-center space-x-2">
                  <i nz-icon nzType="shopping-cart" class="text-2xl"></i>
                  <h2 class="text-2xl font-bold">{{ 'sales.quick_sale.title' | translate }}</h2>
                  <span *ngIf="form.controls['invoice_no'].value" class="text-base text-gray-500">#{{
                        form.controls['invoice_no'].value }}</span>
            </div>
            <div class="flex items-center space-x-2">
                  <button nz-button nzType="default" nzDanger nzSize="small" (click)="resetForm()">{{
                        'common.action.reset' | translate }}</button>
                  <p class="text-lg font-bold">Total: {{ form.controls['total_amount'].value | currency:'৳':'symbol' }}
                  </p>
            </div>

      </div>
      <app-loader *ngIf="loading" [isVisible]="loading"></app-loader>
      <div *ngIf="!loading">
            <form nz-form [formGroup]="form" class="space-y-4" [nzLayout]="'vertical'"
                  (ngSubmit)="confirmSalesInvoice()">
                  <!-- Product Select -->
                  <app-select-product [formData]="editingProduct"
                        (actionEmitter)="handleProductSelect($event)"></app-select-product>
                  <!-- Invoice Table -->
                  <nz-table [nzData]="productRows" [nzBordered]="true" [nzShowPagination]="false" [nzSize]="'small'"
                        [nzNoResult]="noProducts">
                        <thead>
                              <tr>
                                    <th>{{ 'sales.quick_sale.invoice_table.product_name' | translate }}</th>
                                    <th>{{ 'sales.quick_sale.invoice_table.quantity' | translate }}</th>
                                    <th>{{ 'sales.quick_sale.invoice_table.unit_price' | translate }}</th>
                                    <th>{{ 'sales.quick_sale.invoice_table.discount' | translate }}</th>
                                    <th>{{ 'sales.quick_sale.invoice_table.total_price' | translate }}</th>
                                    <th>{{ 'sales.quick_sale.invoice_table.actions' | translate }}</th>
                              </tr>
                        </thead>
                        <tbody formArrayName="products">
                              <tr *ngFor="let product of products.controls; let i = index" [formGroupName]="i">
                                    <td>{{ product.get('product_name')?.value }}</td>
                                    <td>{{ product.get('quantity')?.value }}</td>
                                    <td>{{ product.get('unit_price')?.value | currency:'৳':'symbol'}}</td>
                                    <td>{{ product.get('discount')?.value }}</td>
                                    <td>{{ product.get('total')?.value | currency:'৳':'symbol'}}</td>
                                    <td>
                                          <!-- Edit Button -->
                                          <button nz-button nzType="text" nzShape="circle" type="button"
                                                (click)="editProduct(i)" nz-tooltip nzTooltipTitle="Edit">
                                                <i nz-icon nzType="edit"></i>
                                          </button>

                                          <!-- Delete Button -->
                                          <button nz-button nzType="text" nzShape="circle" type="button"
                                                (click)="removeProduct(i)" nz-tooltip nzTooltipTitle="Remove" nzDanger>
                                                <i nz-icon nzType="delete"></i>
                                          </button>
                                    </td>
                              </tr>
                        </tbody>
                  </nz-table>

                  <ng-template #noProducts>
                        <nz-empty
                              nzNotFoundContent="{{ 'sales.quick_sale.invoice_table.no_product_added' | translate }}"></nz-empty>
                  </ng-template>


                  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <!-- Customer Info Card -->
                        <nz-card nzTitle="{{ 'sales.quick_sale.customer_info.title' | translate }}">
                              <div class="grid grid-cols-2 gap-x-4">
                                    <!-- Customer Name -->
                                    <nz-form-item>
                                          <nz-form-label [nzRequired]="true">{{
                                                'sales.quick_sale.customer_info.customer_name.label' | translate
                                                }}</nz-form-label>
                                          <nz-form-control
                                                nzErrorTip="{{ 'sales.quick_sale.customer_info.customer_name.error_msg' | translate }}">
                                                <nz-input-group nzPrefixIcon="user">
                                                      <input nz-input
                                                            placeholder="{{ 'sales.quick_sale.customer_info.customer_name.placeholder' | translate }}"
                                                            formControlName="customer_name" />
                                                </nz-input-group>
                                          </nz-form-control>
                                    </nz-form-item>

                                    <!-- Customer Phone -->
                                    <nz-form-item>
                                          <nz-form-label>{{ 'sales.quick_sale.customer_info.customer_phone.label' |
                                                translate }}</nz-form-label>
                                          <nz-form-control
                                                nzErrorTip="{{ 'sales.quick_sale.customer_info.customer_phone.error_msg' | translate }}">
                                                <nz-input-group nzPrefixIcon="phone">
                                                      <input nz-input
                                                            placeholder="{{ 'sales.quick_sale.customer_info.customer_phone.placeholder' | translate }}"
                                                            formControlName="customer_phone" />
                                                </nz-input-group>
                                          </nz-form-control>
                                    </nz-form-item>

                                    <!-- Customer Address -->
                                    <nz-form-item>
                                          <nz-form-label>{{ 'sales.quick_sale.customer_info.customer_address.label' |
                                                translate }}</nz-form-label>
                                          <nz-form-control>
                                                <nz-input-group nzPrefixIcon="home">
                                                      <input nz-input
                                                            placeholder="{{ 'sales.quick_sale.customer_info.customer_address.placeholder' | translate }}"
                                                            formControlName="customer_address" />
                                                </nz-input-group>
                                          </nz-form-control>
                                    </nz-form-item>

                                    <!-- Customer Email -->
                                    <nz-form-item>
                                          <nz-form-label>{{ 'sales.quick_sale.customer_info.customer_email.label' |
                                                translate }}</nz-form-label>
                                          <nz-form-control
                                                nzErrorTip="{{ 'sales.quick_sale.customer_info.customer_email.error_msg' | translate }}">
                                                <nz-input-group nzPrefixIcon="mail">
                                                      <input nz-input
                                                            placeholder="{{ 'sales.quick_sale.customer_info.customer_email.placeholder' | translate }}"
                                                            formControlName="customer_email" />
                                                </nz-input-group>
                                          </nz-form-control>
                                    </nz-form-item>
                              </div>
                        </nz-card>
                        <!-- Payment Info Card -->
                        <nz-card [nzTitle]="paymentTitle" [nzBordered]="true">
                              <div class="grid grid-cols-2 gap-x-4">
                                    <nz-form-item>
                                          <nz-form-label [nzRequired]="true">{{
                                                'sales.quick_sale.payment_info.payment_method.label' | translate
                                                }}</nz-form-label>
                                          <nz-form-control>
                                                <nz-radio-group class="w-full" formControlName="payment_method"
                                                      nzButtonStyle="solid">
                                                      <label class="w-1/2 text-center" nz-radio-button nzValue="cash">{{
                                                            'sales.quick_sale.payment_info.payment_method.options.cash'
                                                            | translate }}</label>
                                                      <label class="w-1/2 text-center" nz-radio-button
                                                            nzValue="bkash">{{
                                                            'sales.quick_sale.payment_info.payment_method.options.bkash'
                                                            | translate }}</label>
                                                </nz-radio-group>
                                          </nz-form-control>
                                    </nz-form-item>
                                    <nz-form-item *ngIf="form.get('payment_method')?.value !== 'bkash'">
                                          <nz-form-label [nzRequired]="false">{{
                                                'sales.quick_sale.payment_info.note.label' | translate
                                                }}</nz-form-label>
                                          <nz-form-control>
                                                <input nz-input
                                                      placeholder="{{ 'sales.quick_sale.payment_info.note.placeholder' | translate }}"
                                                      formControlName="notes" />
                                          </nz-form-control>
                                    </nz-form-item>
                                    <nz-form-item *ngIf="form.get('payment_method')?.value === 'bkash'">
                                          <nz-form-label [nzRequired]="true">{{
                                                'sales.quick_sale.payment_info.payment_reference.label' | translate
                                                }}</nz-form-label>
                                          <nz-form-control>
                                                <input nz-input
                                                      placeholder="{{ 'sales.quick_sale.payment_info.payment_reference.placeholder' | translate }}"
                                                      formControlName="payment_reference" required />
                                          </nz-form-control>
                                    </nz-form-item>
                                    <nz-form-item class="col-span-2">
                                          <nz-form-label [nzRequired]="true">{{
                                                'sales.quick_sale.payment_info.payment_status.label' | translate
                                                }}</nz-form-label>
                                          <nz-form-control>
                                                <nz-radio-group class="w-full" formControlName="payment_status"
                                                      nzButtonStyle="solid">
                                                      <label class="w-1/3 text-center" nz-radio-button
                                                            nzValue="unpaid">{{
                                                            'sales.quick_sale.payment_info.payment_status.options.unpaid'
                                                            | translate }}</label>
                                                      <label class="w-1/3 text-center" nz-radio-button
                                                            nzValue="partially_paid">{{
                                                            'sales.quick_sale.payment_info.payment_status.options.partially_paid'
                                                            | translate }}</label>
                                                      <label class="w-1/3 text-center" nz-radio-button nzValue="paid">{{
                                                            'sales.quick_sale.payment_info.payment_status.options.paid'
                                                            | translate }}</label>
                                                </nz-radio-group>
                                          </nz-form-control>
                                    </nz-form-item>
                              </div>
                        </nz-card>
                        <ng-template #paymentTitle>
                              <h3 class="text-lg font-semibold flex gap-2 items-center"><span
                                          class="text-red-500">*</span>{{ 'sales.quick_sale.payment_info.title' |
                                    translate }}
                              </h3>
                        </ng-template>
                  </div>
                  <div class="flex justify-end items-center">
                        <div class="flex space-x-2">
                              <button nz-button nzType="default" type="button" (click)="saveAsDraft()"
                                    [disabled]="products.length === 0">
                                    {{ 'common.action.save_as_draft' | translate }}
                              </button>

                              <button nz-button nzType="primary" type="submit"
                                    [disabled]="form.invalid || products.length === 0">
                                    {{ 'common.action.generate_invoice' | translate }}
                              </button>
                        </div>
                  </div>
            </form>
      </div>
</div>