<div class="rounded-md bg-white">
      <form nz-form [formGroup]="form" [nzLayout]="'vertical'" (ngSubmit)="handleForm()">
            <div class="grid grid-cols-1 gap-y-6 lg:gap-6 md:grid-cols-2 lg:grid-cols-3 border-[0.5px] p-4 rounded-md">
                  <!-- Photo -->
                  <div
                        class="p-4 border-[0.5px] rounded-md shadow-md md:col-span-2 lg:col-span-1 flex flex-col items-center justify-center">
                        <!-- Content -->
                        <div *ngIf="!form.controls['photo'].value"
                              class=" flex flex-col items-center justify-center w-32 h-32 border-[0.5px] border-dashed rounded-full shadow-md cursor-pointer"
                              (click)="fileInput.click()">
                              <svg *ngIf="!imgLoading" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5" />
                              </svg>
                              <app-loader *ngIf="imgLoading" [isVisible]="imgLoading"></app-loader>

                        </div>
                        <p *ngIf="!form.controls['photo'].value" class="text-center text-blue-500 font-medium mt-4">
                              Upload a file</p>
                        <p *ngIf="!form.controls['photo'].value" class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB
                        </p>
                        <input type="file" accept=".png,.jpg,.jpeg,.gif" #fileInput class="hidden"
                              (change)="onFileSelected($event)" />
                        <img *ngIf="form.controls['photo'].value"
                              class=" w-32 h-32 border-[0.5px] border-dashed rounded-full shadow-md"
                              [src]="form.controls['photo'].value" alt="User Photo">

                  </div>
                  <!-- Form -->
                  <div class="grid grid-cols-1 gap-x-6 md:grid-cols-2 border-[0.5px] p-4 rounded-md col-span-2">
                        <!-- Name -->
                        <nz-form-item>
                              <nz-form-label [nzRequired]="hasRequiredValidator('name')">Name</nz-form-label>
                              <nz-form-control nzErrorTip="Name is Required.">
                                    <input formControlName="name" nz-input placeholder="Enter Name" />
                              </nz-form-control>
                        </nz-form-item>
                        <!-- Email -->
                        <nz-form-item>
                              <nz-form-label [nzRequired]="hasRequiredValidator('email')">Email</nz-form-label>
                              <nz-form-control nzErrorTip="Email is Required.">
                                    <input formControlName="email" nz-input placeholder="Enter Email Address"
                                          [readOnly]="formData" />
                              </nz-form-control>
                        </nz-form-item>
                        <!-- mobile_number -->
                        <nz-form-item>
                              <nz-form-label [nzRequired]="hasRequiredValidator('mobile_number')">Mobile
                                    Number</nz-form-label>
                              <nz-form-control nzErrorTip="Mobile Number is Required.">
                                    <input formControlName="mobile_number" nz-input placeholder="Enter Mobile Number" />
                              </nz-form-control>
                        </nz-form-item>
                        <!-- Role -->
                        <nz-form-item *ngIf="!isUser">
                              <nz-form-label [nzRequired]="hasRequiredValidator('role')">Role</nz-form-label>
                              <nz-form-control nzErrorTip="Role is Required.">
                                    <nz-select class="w-full" formControlName="role" nz-input nzAllowClear
                                          nzPlaceHolder="Select Role">
                                          <ng-container *ngFor="let item of roleList">
                                                <nz-option [nzLabel]="item" [nzValue]="item"></nz-option>
                                          </ng-container>
                                    </nz-select>
                              </nz-form-control>
                        </nz-form-item>
                        <!-- Designation -->
                        <nz-form-item>
                              <nz-form-label
                                    [nzRequired]="hasRequiredValidator('designation')">Designation</nz-form-label>
                              <nz-form-control nzErrorTip="Designation is Required.">
                                    <input formControlName="designation" nz-input placeholder="Enter Designation" />
                              </nz-form-control>
                        </nz-form-item>
                        <!-- Password -->
                        <nz-form-item *ngIf="!formData">
                              <nz-form-label [nzRequired]="hasRequiredValidator('password')">Password</nz-form-label>
                              <nz-form-control nzErrorTip="Password is Required.">
                                    <input formControlName="password" nz-input placeholder="Enter Password" />
                              </nz-form-control>
                        </nz-form-item>
                        <!-- Status -->
                        <nz-form-item *ngIf="!isUser">
                              <nz-form-label [nzRequired]="hasRequiredValidator('status')">Status</nz-form-label>
                              <nz-form-control nzErrorTip="Status is required.">
                                    <nz-select class="w-full" formControlName="status" nz-input nzAllowClear
                                          nzPlaceHolder="Select Status">
                                          <nz-option nzLabel="Active" nzValue="Active"></nz-option>
                                          <nz-option nzLabel="Inactive" nzValue="Inactive"></nz-option>
                                    </nz-select>
                              </nz-form-control>
                        </nz-form-item>
                  </div>
            </div>
            <!-- Actions -->
            <div class="flex justify-end mt-4">
                  <div class="flex items-center gap-4">
                        <secondary-button [label]="'Cancel'"  (click)="goBack()"></secondary-button>
                        <primary-button [loading]="loading" [label]="'Submit'" [type]="'submit'"></primary-button>
                  </div>
            </div>
      </form>
</div>