<form [formGroup]="form" nz-form [nzLayout]="'vertical'" (ngSubmit)="onSubmit()" class="border p-4 rounded-sm">

      <!-- Current Password -->
      <nz-form-item>
            <nz-form-label [nzRequired]="true">Current Password</nz-form-label>
            <nz-form-control [nzErrorTip]="'Please input your current password!'">
                  <div class="relative">
                        <input nz-input [type]="showCurrentPassword ? 'text' : 'password'"
                              formControlName="current_password" placeholder="Current Password" />
                        <span class="absolute right-3 top-1/4 mt-1 transform -translate-y-1/2 cursor-pointer text-gray-500"
                              (click)="togglePassword('current')">
                              <span nz-icon [nzType]="showCurrentPassword ? 'eye-invisible' : 'eye'"></span>
                        </span>
                  </div>
            </nz-form-control>
      </nz-form-item>

      <!-- New Password -->
      <nz-form-item>
            <nz-form-label [nzRequired]="true">
                  New Password
                  <span nz-popover nzPopoverOverlayClassName="max-w-[400px] break-all" nzType="primary"
                        nzPopoverTitle="Password Requirements"
                        nzPopoverContent="Must be at least 8 characters long and include: One uppercase letter, One lowercase letter, One number, One special character (!@#$%^&*)"
                        class="ml-2 cursor-pointer text-blue-500">
                        <span nz-icon nzType="info-circle"></span>
                  </span>
            </nz-form-label>
            <nz-form-control [nzValidateStatus]="newPasswordControl" [nzErrorTip]="newPasswordErrorTpl">
                  <div class="relative">
                        <input nz-input [type]="showNewPassword ? 'text' : 'password'" formControlName="new_password"
                              placeholder="New Password" />
                        <span class="absolute right-3 top-1/4 mt-1 transform -translate-y-1/2 cursor-pointer text-gray-500"
                              (click)="togglePassword('new')">
                              <span nz-icon [nzType]="showNewPassword ? 'eye-invisible' : 'eye'"></span>
                        </span>
                  </div>
            </nz-form-control>
      </nz-form-item>

      <ng-template #newPasswordErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Please input your new password!</ng-container>
            <ng-container *ngIf="control.hasError('minlength')">Password must be at least 8 characters.</ng-container>
            <ng-container *ngIf="control.hasError('pattern')">
                  Password must include uppercase, lowercase, number, and a special character.
            </ng-container>
      </ng-template>

      <!-- Confirm New Password -->
      <nz-form-item>
            <nz-form-label [nzRequired]="true">Confirm New Password</nz-form-label>
            <nz-form-control [nzValidateStatus]="form" [nzErrorTip]="confirmPasswordErrorTpl">
                  <div class="relative">
                        <input nz-input [type]="showConfirmPassword ? 'text' : 'password'"
                              formControlName="confirm_password" placeholder="Confirm New Password" />
                        <span class="absolute right-3 top-1/4 mt-1 transform -translate-y-1/2 cursor-pointer text-gray-500"
                              (click)="togglePassword('confirm')">
                              <span nz-icon [nzType]="showConfirmPassword ? 'eye-invisible' : 'eye'"></span>
                        </span>
                  </div>
            </nz-form-control>
      </nz-form-item>

      <ng-template #confirmPasswordErrorTpl let-control>
            <ng-container *ngIf="form.hasError('mismatch')">Passwords do not match!</ng-container>
            <ng-container *ngIf="control.get('confirm_password')?.hasError('required')">Please confirm your new
                  password!</ng-container>
      </ng-template>

      <!-- Actions -->
      <div class="flex justify-end mt-4">
            <div class="flex items-center gap-4">
                  <secondary-button [label]="'Cancel'" [type]="'button'" (click)="goBack()"></secondary-button>
                  <primary-button [label]="'Submit'" [type]="'submit'"></primary-button>
            </div>
      </div>
</form>