<div class="relative pr-2">
      <div class="relative flex items-center gap-6 text-sm">
            <!-- Language Radio Group -->
            <!-- <nz-radio-group [(ngModel)]="selectedLang" (ngModelChange)="switchLang($event)" nzSize="small" class="w-24"
                  nzButtonStyle="solid">
                  <label nz-radio-button nzValue="en" class="w-1/2 text-center">en</label>
                  <label nz-radio-button nzValue="bn" class="w-1/2 text-center">bn</label>
            </nz-radio-group> -->
            <!-- Notification Button -->
            <button class="relative" type="button" (click)="handleNotificationClick()">
                  <svg class="w-6 h-6 text-gray-600" fill="none" stroke="currentColor" stroke-width="2"
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14V9a6 6 0 00-12 0v5c0 .386-.146.752-.405 1.095L4 17h5m6 0a3 3 0 11-6 0" />
                  </svg>
                  <span *ngIf="notifications.length"
                        class="absolute -top-2 -right-2 bg-red-500 text-white text-xs px-1.5 py-0.5 rounded-full">{{
                        notifications.length }}</span>
            </button>
            <!-- Profile Button -->
            <button (click)="toggleDropdown()" type="button">
                  <img *ngIf="userInfo.photo" [src]="userInfo.photo" alt="User Avatar"
                        class="w-10 h-10 rounded-full object-cover outline outline-1 outline-primary">
                  <div *ngIf="!userInfo.photo"
                        class="w-10 h-10 rounded-full bg-gray-300 flex items-center justify-center font-medium text-gray-700 border">
                        {{ getFirstLetter(userInfo.name) }}
                  </div>
            </button>
      </div>
      <!-- Dropdown -->
      <nz-drawer [nzVisible]="isDropdownOpen" [nzSize]="'default'" (nzOnClose)="toggleDropdown()"
            [nzTitle]="profileDropdownHeader" [nzKeyboard]="true">
            <ng-container *nzDrawerContent>
                  <div (click)="$event.stopPropagation()" class="flex flex-col h-full">

                        <!-- Scrollable Section -->
                        <div class="flex-1 overflow-y-auto space-y-4 stockflow-scrollbar">
                              <img *ngIf="userInfo.photo" [src]="userInfo.photo" alt="User Avatar"
                                    class="w-20 h-20 mx-auto rounded-full object-cover outline outline-1 outline-primary">

                              <div *ngIf="!userInfo.photo"
                                    class="w-20 h-20 mx-auto rounded-full bg-gray-300 flex items-center justify-center font-medium text-gray-700 border">
                                    {{ getFirstLetter(userInfo.name) }}
                              </div>

                              <nz-divider></nz-divider>

                              <nz-descriptions [nzColumn]="1" nzTitle="Personal Details">
                                    <nz-descriptions-item nzTitle="Full Name">
                                          <span class="font-semibold">{{ userInfo.name }}</span>
                                    </nz-descriptions-item>
                                    <nz-descriptions-item nzTitle="Email">
                                          <span class="font-semibold">{{ userInfo.email }}</span>
                                    </nz-descriptions-item>
                                    <nz-descriptions-item nzTitle="Mobile No">
                                          <span class="font-semibold">{{ userInfo.mobile_number }}</span>
                                    </nz-descriptions-item>
                                    <nz-descriptions-item nzTitle="Designation">
                                          <span class="font-semibold">{{ userInfo.designation }}</span>
                                    </nz-descriptions-item>
                              </nz-descriptions>
                        </div>

                        <!-- Bottom Section (fixed at bottom) -->
                        <div class="space-y-4">
                              <nz-divider></nz-divider>

                              <!-- Additional Links -->
                              <div class="space-y-1">
                                    <p class="flex items-center">
                                          <span>Additional Links</span>
                                          <button nz-button nzType="link" nzShape="circle">
                                                <span nz-icon nzType="info-circle"></span>
                                          </button>
                                    </p>
                                    <a nz-button (click)="updateProfile()" nzType="link">Update Profile Information</a>
                                    <a nz-button (click)="changePassword()" nzType="link">Change Password</a>
                              </div>

                              <nz-divider></nz-divider>

                              <!-- Logout Button -->
                              <button type="button" (click)="handleLogout()"
                                    class="min-w-min w-full group relative flex items-center justify-center gap-2 overflow-hidden rounded-sm outline outline-[1px] outline-[#DF1463] bg-white px-6 py-2 font-medium shadow transition-all duration-300 ease-in-out hover:border-transparent disabled:cursor-not-allowed">
                                    <div
                                          class="absolute inset-0 w-0 bg-[#DF1463] transition-all duration-300 ease-in-out group-hover:w-full">
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                          stroke-width="2" stroke="currentColor"
                                          class="relative z-10 h-4 w-4 text-[#DF1463] transition-colors duration-300 group-hover:text-white">
                                          <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M5.636 5.636a9 9 0 1012.728 0M12 3v9"></path>
                                    </svg>
                                    <span
                                          class="relative z-10 whitespace-nowrap text-[#DF1463] transition-colors duration-300 group-hover:text-white">
                                          Sign Out
                                    </span>
                              </button>
                        </div>
                  </div>
            </ng-container>
      </nz-drawer>

      <ng-template #profileDropdownHeader>
            <h2 class="text-2xl font-medium animate-text">Profile</h2>
      </ng-template>
</div>