<div class="w-full flex justify-between items-center bg-white p-5 drop-shadow-md">
      <div class="flex justify-start gap-4 items-center">
            <img (click)="handleMenuOpen()" class="block lg:hidden h-8 w-8 p-1" src="./assets/icons/hamburger.svg"
                  alt="Menu Icon">
            <img class="block h-10" src="assets/icons/logo.svg"
                  alt="Menu Icon">
            <h2 class="text-2xl font-bold flex flex-col items-start">Veltro <span class="text-sm font-normal">By - Samiha Style Studio</span></h2>
      </div>
      <app-profile-menu (actionEmitter)="handleProfileMenuActions($event)"></app-profile-menu>
</div>