<div class="h-screen grid md:grid-cols-3 lg:grid-cols-4">
  <div class="hidden md:block h-full login_banner p-10 space-y-8">
    <div class="flex gap-4 items-center">
      <img class="h-10" src="assets/icons/logo.svg" alt="Samiha Style Studio Logo">
      <h2 class="text-2xl font-bold flex flex-col items-start">Veltro <span class="text-base font-normal">By - Samiha Style Studio</span></h2>
    </div>
    <!-- Features -->
    <ul class="space-y-4">
      <li class="flex items-start gap-3">
        <span class="flex-shrink-0 flex h-10 w-10 items-center justify-center rounded-full bg-primary-500 text-black">
          <img src="assets/icons/inventory.svg" alt="Inventory Icon" class="h-8 w-8">
        </span>
        <div class="flex-1">
          <h2 class="text-lg font-semibold text-gray-800">Streamlined Inventory</h2>
          <p class="text-sm text-gray-600">Effortlessly track and manage your stock in real time.</p>
        </div>
      </li>

      <li class="flex items-start gap-3">
        <span class="flex-shrink-0 flex h-10 w-10 items-center justify-center rounded-full bg-primary-500 text-black">
          <img src="assets/icons/order.svg" alt="Order Icon" class="h-8 w-8">
        </span>
        <div class="flex-1">
          <h2 class="text-lg font-semibold text-gray-800">Order Management</h2>
          <p class="text-sm text-gray-600">Simplify your order tracking and fulfillment of the process.</p>
        </div>
      </li>

      <li class="flex items-start gap-3">
        <span class="flex-shrink-0 flex h-10 w-10 items-center justify-center rounded-full bg-primary-500 text-black">
          <img src="assets/icons/data.svg" alt="Insights Icon" class="h-8 w-8">
        </span>
        <div class="flex-1">
          <h2 class="text-lg font-semibold text-gray-800">Data Insights</h2>
          <p class="text-sm text-gray-600">Get actionable reports to make smarter business decisions.</p>
        </div>
      </li>

      <li class="flex items-start gap-3">
        <span class="flex-shrink-0 flex h-10 w-10 items-center justify-center rounded-full bg-primary-500 text-black">
          <img src="assets/icons/shipping.svg" alt="Shipping Icon" class="h-8 w-8">
        </span>
        <div class="flex-1">
          <h2 class="text-lg font-semibold text-gray-800">Seamless Shipping</h2>
          <p class="text-sm text-gray-600">Coordinate deliveries, logistics and handle every scenario with ease.</p>
        </div>
      </li>

      <li class="flex items-start gap-3">
        <span class="flex-shrink-0 flex h-10 w-10 items-center justify-center rounded-full bg-primary-500 text-black">
          <img src="assets/icons/welcome.svg" alt="Welcome Icon" class="h-8 w-8">
        </span>
        <div class="flex-1">
          <h2 class="text-lg font-semibold text-gray-800">Welcome to Veltro - Samiha Style Studio!</h2>
          <p class="text-sm text-gray-600">Transform your warehouse operations in just a few clicks.</p>
        </div>
      </li>

      <li class="flex items-start gap-3">
        <span class="flex-shrink-0 flex h-10 w-10 items-center justify-center rounded-full bg-primary-500 text-black">
          <img src="assets/icons/welcome.svg" alt="Welcome Icon" class="h-8 w-8">
        </span>
        <div class="flex-1">
          <h2 class="text-lg font-semibold text-gray-800">Welcome to Veltro - Samiha Style Studio!</h2>
          <p class="text-sm text-gray-600">Transform your warehouse operations in just a few clicks.</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="md:col-span-2 lg:col-span-3 flex justify-center items-center p-5 md:p-0 login_sm_banner">
    <div
      class="overflow-y-auto p-8 min-w-full md:min-w-[400px] bg-[#F1F1F1] rounded-md bg-opacity-20 backdrop-blur-2xl">
      <form class="space-y-3" [formGroup]="form" (ngSubmit)="handleForm()">
        <div class="text-center space-y-3">
          <img class="h-20 mx-auto" src="assets/icons/logo.svg" alt="Veltro Logo">
          <h2 class="pb-1 text-3xl font-semibold text-[#180B26]">
            Welcome to Veltro!
          </h2>
          <p class="pb-2 text-[#180B26] max-w-xs">
            Welcome back! Let's simplify your inventory and warehouse management journey.
          </p>
        </div>

        <div class="space-y-8 text-left">
          <div class="form__group">
            <div class="relative">
              <input id="email" class="peer block h-10 custom-input" type="text" formControlName="email" placeholder=" "
                [ngClass]="{
                'is__invalid-input': submitted && f['email'].errors
              }" />
              <label
                class="absolute top-2 left-1 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-500 dark:bg-night-700"
                for="email">
                Email
              </label>
            </div>
            <div *ngIf="submitted && f['email'].errors" class="is__invalid-error">
              <div *ngIf="f['email'].errors['required']" class=" ">
                Email is required.
              </div>
            </div>
          </div>

          <div class="form__group">
            <div class="relative">
              <input id="password" class="peer block h-10 custom-input" autocomplete="on" formControlName="password"
                placeholder=" " [ngClass]="{
                'is__invalid-input': submitted && f['password'].errors
              }" [type]="passwordTextType ? 'text' : 'password'" />
              <label
                class="absolute top-2 left-1 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-600 dark:bg-night-700"
                for="password">
                Password
              </label>
              <span class="absolute top-2.5 right-5 cursor-pointer text-gray-400 dark:text-night-300"
                (click)="togglePasswordTextType()">
                <img [src]="
                  !passwordTextType
                    ? 'assets/icons/eye.svg'
                    : 'assets/icons/eye-off.svg'
                " [ngClass]="'h-5 w-5'" />
              </span>
            </div>
            <div *ngIf="submitted && f['password'].errors" class="is__invalid-error">
              <div *ngIf="f['password'].errors['required']" class=" ">
                Password is required.
              </div>
            </div>
          </div>
        </div>

        <div class="flex items-center justify-end space-x-3 pb-3">
          <div class=" ">
            <!-- <a class="font-medium text-[#180B26] hover:text-primary hover:underline" routerLink="/auth/forgot-password">
              Forgot Password
            </a> -->
          </div>
        </div>

        <!-- Submit Button -->
        <div class="flex justify-center">
          <button [disabled]="authService.loading()" type="submit"
            class="w-full group relative flex justify-center items-center gap-4 overflow-hidden rounded-sm bg-white px-6 py-2 shadow font-medium disabled:cursor-wait">
            <div [ngClass]="authService.loading() ? 'w-full': ''"
              class="absolute inset-0 w-2 bg-primary transition-all duration-300 ease-in-out group-hover:w-full">
            </div>
            <span *ngIf="authService.loading()">
              <svg class="h-5 w-5 animate-spin text-white" fill="none" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                  fill="currentColor"></path>
              </svg>

            </span>
            <span *ngIf="!authService.loading()"
              class="relative z-10 whitespace-nowrap text-black transition-all duration-300 group-hover:text-white">
              Sign In
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>