<div class="p-4 space-y-3">
      <h2 class="text-2xl font-medium mb-4 animate-text">Product Details</h2>
      <app-loader *ngIf="loading" [isVisible]="loading"></app-loader>
      <div *ngIf="!loading && productDetails">
            <!-- Edit mode On -->
            <div *ngIf="editMode">
                  <app-product-form [formData]="productDetails"
                        (actionEmitter)="handleActions($event)"></app-product-form>
            </div>
            <div *ngIf="!editMode">
                  <div class="grid grid-cols-1 gap-x-6 gap-y-4 md:grid-cols-3 border-[0.5px] p-4 rounded-md">
                        <!-- Name -->
                        <div class="space-y-1">
                              <p>Product Name</p>
                              <p class="font-semibold text-secondary">{{ productDetails?.name }}</p>
                        </div>
                        <!-- sku -->
                        <div class="space-y-1">
                              <p>SKU</p>
                              <p class="font-semibold text-secondary">{{ productDetails?.sku }}</p>
                        </div>
                        <!-- Category -->
                        <div class="space-y-1">
                              <p>Category</p>
                              <p class="font-semibold text-secondary">{{ productDetails?.category_name }}</p>
                        </div>
                        <!-- Sub Category -->
                        <div class="space-y-1">
                              <p>Sub Category</p>
                              <p class="font-semibold text-secondary">{{ productDetails?.sub_category_name }}</p>
                        </div>
                        <!-- Unit Type -->
                        <div class="space-y-1">
                              <p>Unit Type</p>
                              <p class="font-semibold text-secondary">{{ getLabel(productDetails?.unit_type, 'unit_type') }}</p>
                        </div>
                        <!-- Product Nature -->
                        <div class="space-y-1">
                              <p>Product Nature</p>
                              <p class="font-semibold text-secondary">{{ getLabel(productDetails?.product_nature, 'product_nature') }}
                              </p>
                        </div>
                        <!-- Restock Threshold -->
                        <div class="space-y-1">
                              <p>Restock Threshold</p>
                              <p class="font-semibold text-secondary">{{ productDetails?.restock_threshold }}</p>
                        </div>
                        <!-- Description -->
                        <div class="space-y-1">
                              <p>Description</p>
                              <p class="font-semibold text-secondary">{{ productDetails?.description }}</p>
                        </div>
                        <!-- status -->
                        <div class="space-y-1">
                              <p>Status</p>
                              <p class="font-semibold text-secondary">{{ productDetails?.status }}</p>
                        </div>
                  </div>
                  <!-- Actions -->
                  <div class="flex justify-end mt-4">
                        <div class="flex items-center gap-4">
                              <secondary-button [label]="'Go Back'" (click)="goBack()"></secondary-button>
                        </div>
                  </div>
            </div>
      </div>
</div>