<div class="w-full flex flex-col items-center p-5">
      <img class="w-2/3 mx-auto" src="assets/icons/undraw_confirmation.svg" alt="">
      <p class="text-black mt-6 mb-9 font-semibold text-lg">{{ modalData.message }}</p>
      <div class="flex items-center gap-8">
            <secondary-button [label]="'Cancel'" [type]="'button'" (click)="closeModal()"></secondary-button>
            <primary-button [label]="'Confirm'" [type]="'button'" (click)="handleConfirm()"></primary-button>
      </div>
</div>