<div class="p-4 space-y-3">
      <h2 class="text-2xl font-medium mb-4 animate-text">Purchase Order List</h2>
      <div>
            <div class="md:flex justify-between items-center">
                  <!-- Search Text -->
                  <div class="md:w-2/3 grid lg:grid-cols-3 gap-4">
                        <nz-select class="w-full" [formControl]="selectControl" nz-input nzAllowClear
                              nzPlaceHolder="Select Order Status">
                              <nz-option nzLabel="Submitted" nzValue="Submitted"></nz-option>
                              <nz-option nzLabel="Verified" nzValue="Verified"></nz-option>
                              <nz-option nzLabel="Cancelled" nzValue="Cancelled"></nz-option>
                        </nz-select>
                        <nz-input-group [nzSuffix]="suffixIconSearch">
                              <input type="text" [formControl]="searchControl" nz-input placeholder="Enter Search Text Here" />
                        </nz-input-group>
                        <ng-template #suffixIconSearch>
                              <span nzType="search" nz-icon></span>
                        </ng-template>
                  </div>
                  <!-- Buttons -->
                  <div class="flex justify-end md:justify-center items-center gap-4 mt-4 md:mt-0">
                        <primary-button-with-plus-icon (click)="handleAdd()"
                              [label]="'Add Purchase'"></primary-button-with-plus-icon>
                  </div>
            </div>
            <nz-divider></nz-divider>
            <app-view-purchase-order-list [loading]="loading" [data]="data" [totalCount]="totalCount"
                  (actionEmitter)="handleListActions($event)"
                  (paginationEvent)="handlePaginationEvent($event)"></app-view-purchase-order-list>
      </div>
</div>