<form nz-form [formGroup]="form" [nzLayout]="'vertical'" (ngSubmit)="handleForm()" class="space-y-4 mt-4">
      <div class="border-[0.5px] p-4 rounded-md">
            <h2 class="text-xl font-medium">Verify Purchase Details</h2>
            <nz-divider class="my-4"></nz-divider>

            <div class="hidden lg:block">
                  <!-- Product Table -->
                  <nz-table [nzData]="products.controls" [nzBordered]="true" [nzSize]="'middle'"
                        [nzShowPagination]="false">
                        <thead>
                              <tr>
                                    <th>#</th>
                                    <th>Product Name</th>
                                    <th>Verified Quantity</th>
                                    <th>Verified Unit Price</th>
                                    <th>Intended Use</th>
                                    <th>Selling Price</th>
                                    <th>Max Discount (BDT)</th>
                              </tr>
                        </thead>
                        <tbody>
                              <tr *ngFor="let group of productsFormGroups; let i = index" [formGroup]="group">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ purchaseDetails.products[i].product_name }}</td>
                                    <td>
                                          <nz-form-control [nzValidateStatus]="group.get('verified_quantity') || ''"
                                                [nzHasFeedback]="true">
                                                <input nz-input type="number" formControlName="verified_quantity" />
                                          </nz-form-control>
                                    </td>
                                    <td>
                                          <nz-form-control [nzValidateStatus]="group.get('verified_unit_price') || ''"
                                                [nzHasFeedback]="true">
                                                <input nz-input type="number" formControlName="verified_unit_price" />
                                          </nz-form-control>
                                    </td>
                                    <td>
                                          <nz-form-control [nzValidateStatus]="group.get('intended_use') || ''"
                                                [nzHasFeedback]="true">
                                                <nz-select formControlName="intended_use"
                                                      [nzOptions]="INTENDED_USE_OPTIONS" [nzBorderless]="false"
                                                      nzPlaceHolder="Select Intended Use" class="w-full">
                                                </nz-select>
                                          </nz-form-control>
                                    </td>
                                    <td>
                                          <nz-form-control *ngIf="group.get('intended_use')?.value === 'for_sale'"
                                                [nzValidateStatus]="group.get('selling_price') || ''"
                                                [nzHasFeedback]="true">
                                                <input nz-input type="number" formControlName="selling_price"
                                                      placeholder="Selling Price" class="w-full" />
                                          </nz-form-control>
                                    </td>

                                    <!-- Maximum Discount -->
                                    <td>
                                          <nz-form-control *ngIf="group.get('intended_use')?.value === 'for_sale'"
                                                [nzValidateStatus]="group.get('maximum_discount') || ''"
                                                [nzHasFeedback]="true">
                                                <input nz-input type="number" formControlName="maximum_discount"
                                                      placeholder="Max Discount" class="w-full" />
                                          </nz-form-control>
                                    </td>
                              </tr>
                        </tbody>
                  </nz-table>
            </div>
            <div class="block lg:hidden space-y-4 mt-4">
                  <div *ngFor="let group of productsFormGroups; let i = index" [formGroup]="group"
                        class="border rounded-md p-4 shadow-sm space-y-3">
                        <div class="font-semibold text-base">{{ purchaseDetails.products[i].product_name }}</div>
                        <div>
                              <label class="block text-sm">Verified Quantity</label>
                              <nz-form-control [nzValidateStatus]="group.get('verified_quantity') || ''"
                                    [nzHasFeedback]="true">
                                    <input nz-input type="number" formControlName="verified_quantity" class="w-full" />
                              </nz-form-control>
                        </div>
                        <div>
                              <label class="block text-sm">Verified Unit Price</label>
                              <nz-form-control [nzValidateStatus]="group.get('verified_unit_price') || ''"
                                    [nzHasFeedback]="true">
                                    <input nz-input type="number" formControlName="verified_unit_price"
                                          class="w-full" />
                              </nz-form-control>
                        </div>
                        <div>
                              <label class="block text-sm">Intended Use</label>
                              <nz-form-control [nzValidateStatus]="group.get('intended_use') || ''"
                                    [nzHasFeedback]="true">
                                    <nz-select formControlName="intended_use" [nzOptions]="INTENDED_USE_OPTIONS"
                                          nzPlaceHolder="Select Intended Use" class="w-full"></nz-select>
                              </nz-form-control>
                        </div>
                        <ng-container *ngIf="group.get('intended_use')?.value === 'for_sale'">
                              <div>
                                    <label class="block text-sm">Selling Price</label>
                                    <nz-form-control [nzValidateStatus]="group.get('selling_price') || ''"
                                          [nzHasFeedback]="true">
                                          <input nz-input type="number" formControlName="selling_price"
                                                placeholder="Selling Price" class="w-full" />
                                    </nz-form-control>
                              </div>
                              <div>
                                    <label class="block text-sm">Max Discount (BDT)</label>
                                    <nz-form-control [nzValidateStatus]="group.get('maximum_discount') || ''"
                                          [nzHasFeedback]="true">
                                          <input nz-input type="number" formControlName="maximum_discount"
                                                placeholder="Max Discount" class="w-full" />
                                    </nz-form-control>
                              </div>
                        </ng-container>
                  </div>
            </div>
      </div>

      <div class="flex justify-end mt-4">
            <div class="flex items-center gap-4">
                  <secondary-button [label]="'Cancel'" (click)="goBack()"></secondary-button>
                  <primary-button [label]="'Verify Order'" [loading]="loading" [type]="'submit'"></primary-button>
            </div>
      </div>
</form>