<div class="rounded-md bg-white">
      <form nz-form [formGroup]="form" [nzLayout]="'vertical'" (ngSubmit)="handleForm()" class="space-y-4">
            <div class="border-[0.5px] p-4 rounded-md">
                  <h2 class="text-xl font-medium mb-4">Bill Information</h2>
                  <div class="grid grid-cols-1 md:gap-x-6 md:grid-cols-2 lg:grid-cols-3">
                        <!-- Form -->
                        <!-- bill_no -->
                        <nz-form-item>
                              <nz-form-label [nzRequired]="hasRequiredValidator('bill_no')">Bill No</nz-form-label>
                              <nz-form-control nzErrorTip="Bill No is Required.">
                                    <input formControlName="bill_no" nz-input placeholder="Enter Bill No" />
                              </nz-form-control>
                        </nz-form-item>
                        <!-- date_of_purchase -->
                        <nz-form-item>
                              <nz-form-label [nzRequired]="hasRequiredValidator('date_of_purchase')">Date Of
                                    Purchase</nz-form-label>
                              <nz-form-control nzErrorTip="Date Of Purchase is Required.">
                                    <nz-date-picker class="w-full" formControlName="date_of_purchase" nz-input
                                          nzInputReadOnly nzPlaceHolder="Select Date Of Purchase"></nz-date-picker>
                              </nz-form-control>
                        </nz-form-item>
                        <!-- supplier_oid -->
                        <nz-form-item>
                              <nz-form-label
                                    [nzRequired]="hasRequiredValidator('supplier_oid')">Supplier</nz-form-label>
                              <nz-form-control nzErrorTip="Supplier is required.">
                                    <nz-select class="w-full" formControlName="supplier_oid" nzShowSearch nz-input nzAllowClear
                                          nzPlaceHolder="Select Supplier">
                                          <ng-container *ngFor="let item of supplierList">
                                                <nz-option [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                                          </ng-container>
                                    </nz-select>
                              </nz-form-control>
                        </nz-form-item>
                        <!-- total_amount -->
                        <nz-form-item>
                              <nz-form-label [nzRequired]="hasRequiredValidator('total_amount')">Total
                                    Amount</nz-form-label>
                              <nz-form-control nzErrorTip="Total Amount is Required.">
                                    <input formControlName="total_amount" readonly nz-input placeholder="Enter Total Amount" />
                              </nz-form-control>
                        </nz-form-item>
                        <!-- special_notes -->
                        <nz-form-item>
                              <nz-form-label [nzRequired]="hasRequiredValidator('special_notes')">Special
                                    Notes</nz-form-label>
                              <nz-form-control nzErrorTip="Special Notes is Required.">
                                    <textarea formControlName="special_notes" nz-input
                                          placeholder="Enter Special Notes (if any)" nzAutosize></textarea>
                              </nz-form-control>
                        </nz-form-item>
                        <!-- Status -->
                        <nz-form-item>
                              <nz-form-label [nzRequired]="hasRequiredValidator('status')">Status</nz-form-label>
                              <nz-form-control nzErrorTip="Status is required.">
                                    <nz-select class="w-full" formControlName="status" nz-input nzAllowClear
                                          nzPlaceHolder="Select Status">
                                          <nz-option nzLabel="Active" nzValue="Active"></nz-option>
                                          <nz-option nzLabel="Inactive" nzValue="Inactive"></nz-option>
                                    </nz-select>
                              </nz-form-control>
                        </nz-form-item>
                  </div>
            </div>
            <div class="border-[0.5px] p-4 rounded-md">
                  <h2 class="text-xl font-medium mb-4">Products Information</h2>
                  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-4">
                        <!-- Loop through all products -->
                        <ng-container *ngFor="let product of form.get('products')?.value; let i = index">
                              <app-single-item-card [isEdit]="getEditStatus()" [itemDetails]="product" (actionEmitter)="handleCardActions($event, i)"></app-single-item-card>
                        </ng-container>

                        <!-- Add product button card -->
                        <div *ngIf="!formData" (click)="handleAdd()"
                              class="border border-[#C6C6C6] rounded-md shadow-lg p-4 flex items-center justify-center cursor-pointer hover:scale-95 transition-all duration-300 ease-in-out">
                              <div>
                                    <svg-icon src="assets/icons/add_item.svg"
                                          class="transition-transform duration-150 ease-in-out"></svg-icon>
                              </div>
                        </div>
                  </div>

            </div>
            <!-- Actions -->
            <div class="flex justify-end mt-4">
                  <div class="flex items-center gap-4">
                        <secondary-button (click)="goBack()" [label]="'Cancel'"></secondary-button>
                        <primary-button [label]="'Submit'" [loading]="loading" [type]="'submit'"></primary-button>
                  </div>
            </div>
      </form>
</div>